.billings-view-container {
    min-height: 90vh;
    justify-content: center;
}

.empty-billings-container,
.billings-loader {
    align-self: center;
}

.empty-billings-message {
    text-align: center;
}

.billing-list-container {
    padding: 30px 0;
    width: 60%;
}

.billing-row-container:hover {
    transform: scale(.97);
}

.billing-row-container {
    transition: .3s;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.billing-row-container:last-of-type {
    margin-bottom: 0;
}

.billing-number-container,
.shipping-kind-container,
.cart-container,
.billing-total-container {
    width: 24%;
}

.cart-container {
    cursor: pointer;
}

.billing-label {
    padding-bottom: 5px;
}

@media(max-width: 950px) {
    .billing-list-container {
        width: 80%;
    }
}

@media(max-width: 650px) {
    .billings-view-container {
        padding: 10vh 0;
    }
    .billing-list-container {
        width: 90%;
    }
    .billing-number-container,
    .shipping-kind-container {
        padding-bottom: 10px;
    }
    .billing-number-container,
    .shipping-kind-container,
    .cart-container,
    .billing-total-container {
        width: 49%;
    }
}