.cart-view-container {
    min-height: 90vh;
    justify-content: center;
}

.cart-loader {
    align-self: center;
}

.shopping-cart-container {
    width: 60%;
    align-content: flex-start;
    padding-top: 30px;
}

.shopping-cart-title,
.empty-cart-message {
    padding-bottom: 20px;
    text-align: center;
}

.shopping-product-row {
    justify-content: space-between;
}

.shopping-product-row .product-image-container .product-image {
    position: absolute;
    display: block;
    height: 100%;
}

.product-price-and-title-container,
.rate-product-container {
    width: 50%;
}

.rate-product-option:hover {
    background: var(--strong-color);
}

.rate-product-option {
    transition: .5s;
    cursor: pointer;
    padding: 5px 10px;
}

.rate-product-container {
    align-items: flex-start;
}

.cart-subtotal {
    padding: 10px 0;
    border-bottom: 2px solid var(--second-color);
}

.rate-product-title {
    padding-bottom: 5px;
}

.shopping-product-title {
    text-transform: capitalize;
}

.pay-button-container {
    padding: 20px 0;
}

.quantity-container {
    align-items: center;
}

.quantity-button.remove {
    margin-left: 10px;
}

.quantity-button.add {
    margin-right: 10px;
}

.quantity-button:hover {
    opacity: .5;
}

.product-actions-container p:hover {
    font-weight: bold;
}

.product-actions-container p {
    padding-left: 20px;
    cursor: pointer;
}

.quantity-button {
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 10px;
    color: var(--strong-color);
    font-size: 1.5em;
    line-height: 0;
}

.product-details-container {
    width: 77%;
    padding: 10px 0;
}

.product-details-label {
    padding-right: 10px;
}

.shopping-product-row .product-image-container {
    width: 21%;
    position: relative;
    padding-bottom: 21%;
}

.shopping-product-row {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;
}

.shopping-product-row:last-of-type {
    margin-bottom: 0;
}

@media(max-width: 850px) {
    .shopping-cart-container {
        width: 80%;
    }
    .shopping-cart-container {
        width: 90%;
        padding: 0;
    }
    .cart-view-container {
        padding: 10vh 0;
    }
}

@media(max-width: 650px) {}