.shopping-cart {
    display: block;
    width: 30px;
}

.header-icon-container {
    position: relative;
}

.products-count {
    position: absolute;
    border-radius: 50%;
    padding: 5px 9px;
    top: -11px;
    left: 15px;
    opacity: 0.9;
    font-size: .8em;
}

.cart-icon-container {
    cursor: pointer;
}

@media(max-width: 650px) {
    .cart-icon-container {
        width: 100%;
        justify-content: center;
        display: flex;
        padding-top: 20px;
    }
}