.header-container {
    padding: 15px 0;
    box-shadow: #00000042 1px 0px 15px;
}

.header-options-container {
    width: 60%;
}

.menu-item:hover {
    color: var(--four-color);
    opacity: .8;
}

.header-icon {
    width: 30px;
    margin-right: 10px;
}

.menu-arrow.open {
    margin-top: 10px;
    transform: rotate(180deg);
}

.menu-arrow {
    cursor: pointer;
    transition: .5s;
    width: 40px;
    height: 20px;
    fill: var(--four-color);
}

.menu-item {
    transition: .8s;
    cursor: pointer;
}

@media(max-width: 750px) {
    .header-container {
        padding: 20px 0;
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .menu-item {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
}

@media(max-width: 400px) {
    .menu-item:last-of-type {
        padding-bottom: 0px;
    }
    .header-options-container {
        width: 90%;
    }
}