.input-form-container {
    padding-top: 20px;
}

.input-form-label {
    padding-bottom: 10px;
}

.input-container .input {
    padding: 10px;
}

.input-container .input::placeholder {
    font-size: .9em;
}