.logout-container {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 15px;
    border-top-left-radius: 15px;
    box-shadow: black 1px 0px 15px;
    max-width: 350px;
}

.log-out-icon {
    width: 20px;
    margin-right: 10px;
}

.username-balance-container {
    padding-bottom: 10px;
}

.username-container,
balance-container {
    width: 49%;
}

.username {
    text-transform: capitalize;
    padding-left: 10px;
}

@media(max-width:500px) {
    .logout-container {
        border-top-right-radius: 15px;
        left: 0;
        max-width: none;
        padding: 6px 20px;
    }
}