.login-view-wrapper {
    height: 100vh;
}

.login-form-container {
    width: 90%;
    justify-content: flex-end;
    max-width: 400px;
    align-self: center;
    padding: 15px;
    box-shadow: black 1px 0px 15px;
}

.login-message {
    text-align: center;
    padding-top: 10px;
}

.login-title {
    padding-top: 10px;
    text-align: center;
}

.login-button {
    margin-top: 20px;
}

.login-register-link {
    padding: 10px 0;
    text-align: center;
    color: white;
}