.not-found-wrapper {
    height: 100vh;
}

.not-found-message {
    padding-top: 10px;
    text-align: center;
    font-size: 2em;
}

.go-home-buttom {
    padding-top: 20px;
}

.text-404 {
    text-align: center;
    font-size: 10em;
    opacity: .8;
}

@media(max-width: 400px) {
    .text-404 {
        font-size: 5em;
    }
    .not-found-message {
        font-size: 1em;
    }
}