.payment-view-wrapper {
    min-height: 85vh;
    padding: 5vh 0 15vh 0;
}

.payment-title {
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 20px;
}

.payment-section {
    border-bottom: 1px solid var(--four-color);
    padding: 10px 5px;
}

.payment-section.no-border {
    border-bottom: none;
}

.pay-button-container {
    padding-top: 20px;
}

.no-shipping-message {
    text-align: center;
    padding: 20px 0;
}

.payment-value {
    text-align: right;
}

.payment-label {
    padding-bottom: 10px;
}

.shipping-options-container {
    margin-bottom: 20px;
}

.payment-view-wrapper {
    align-content: center;
}

.shipping-method-container {
    padding: 10px 0;
    width: 51%;
    cursor: pointer;
}

.server-payment-message {
    padding: 10px 0;
    text-align: center;
}

.shipping-options-container,
.payment-form-container {
    width: 70%;
    justify-content: flex-end;
    align-self: center;
    padding: 15px;
    box-shadow: black 1px 0px 15px;
}

.shipping-options-container {
    justify-content: center;
}

@media(max-width: 800px) {
    .payment-view-wrapper {
        padding: 10vh 0;
    }
}