.products-view-container {
    min-height: 90vh;
    justify-content: center;
}

.products-message-error .message {
    text-align: center;
    padding-bottom: 30px;
}

.products-message-error {
    align-self: center;
    align-content: center;
    width: 80%;
    margin: 0 auto;
}

.products-loader {
    align-self: center;
}

.products-cards-container {
    align-content: flex-start;
    padding: 30px 0;
    width: 60%;
}

.product-card:hover {
    transform: scale(.95);
}

.product-title,
.product-price {
    padding: 0 10px;
}

.product-price {
    text-align: right;
    font-size: 1.2em;
    padding-bottom: 5px;
}

.product-description {
    font-size: .9em;
    padding: 0 5px;
    padding-bottom: 5px;
}

.product-title {
    text-transform: capitalize;
    padding-top: 10px;
}

.add-to-cart-button p {
    text-align: center;
    color: var(--strong-color);
}

.add-to-cart-button {
    padding: 10px 5px;
}

.product-card {
    cursor: pointer;
    transition: .3s;
    width: 32%;
    border-radius: 10px;
    border: 1px solid var(--second-color);
    overflow: hidden;
    margin-bottom: 2%;
    box-shadow: black 1px 0px 15px;
}

.product-image-container {
    position: relative;
    padding-bottom: 100%;
}

.product-image {
    position: absolute;
    object-fit: cover;
    height: 100%;
}

@media(max-width: 800px) {
    .products-cards-container {
        width: 90%;
    }
    .products-view-container {
        padding: 10vh 0;
    }
}

@media(max-width: 650px) {
    .product-card {
        width: 49%;
    }
}

@media(max-width: 400px) {
    .product-card {
        margin-bottom: 10%;
        width: 100%;
    }
}