.register-link.to-login {
    padding: 20px 0;
}

.register-link {
    padding: 15px 0;
    text-align: center;
    color: white;
}

.register-view-wrapper {
    height: 100vh;
}

.register-message {
    padding-top: 10px;
    text-align: center;
}

.register-form-container {
    width: 90%;
    justify-content: flex-end;
    max-width: 400px;
    align-self: center;
    padding: 15px;
    box-shadow: black 1px 0px 15px;
}

.register-title {
    padding-top: 10px;
    text-align: center;
}

.register-button {
    margin-top: 20px;
}